li {
  margin-left: 1em;
}

#left-nav{
  position:fixed;
  min-width:290px;
  top:0px;
  left:0px;
  width:20%;
  height:100%;
  margin:71px 0 0 0;
}

#main-sect{
  position: absolute;
  padding:60px;
  width: 80%;
  height: 100%;
  margin:71px 0 110px 20%;
}

code{
  display:block;
    text-align: left;
  white-space: pre;
  position: relative;
    word-break: normal;
    word-wrap: normal;
    line-height: 2;
    background-color:#f7f7f7;
  padding:15px;
  margin:10px 0;
    border-radius:5px;
}
