:root {
  --main-t-margin: 71px;
}

li {
  margin-left: 1em;
}



#left-nav{
  position:fixed;
  top:0px;
  left:0px;
  height:100%;
  margin-top:var(--main-t-margin);
}

#main-sect{
  height: 100%;
  margin-top:var(--main-t-margin);
}

code{
  display:block;
  text-align: left;
  white-space: pre;
  position: relative;
  word-break: normal;
  word-wrap: normal;
  line-height: 2;
  background-color:#f7f7f7;
  padding:15px;
  margin:10px 0;
  border-radius:5px;
}

#mobile-prof {
  margin: 119px 0 0 0;
}

@media only screen and (max-width: 766px) {
  #mobile-prof {
    margin: 70px 0 0 0;
  }
}

@media only screen and (max-width: 991px) {
    #main-sect{
      margin-top: 0 !important;
    }
}
