:root {
  --main-t-margin: 4.5rem;
}

li {
  margin-left: 1rem;
}



#left-nav{
  position:fixed;
  top:0rem;
  left:0rem;
  height:100%;
  margin-top:var(--main-t-margin);
}

#main-sect{
  height: 100%;
  margin-top:var(--main-t-margin);
}

code{
  display:block;
  text-align: left;
  white-space: pre;
  position: relative;
  word-break: normal;
  word-wrap: normal;
  line-height: 2;
  background-color:#f7f7f7;
  padding:1rem;
  margin:.6rem 0;
  border-radius:.3rem;
}

#mobile-prof {
  margin: 7.5rem 0 0 0;
}

@media only screen and (max-width: 47.9rem) {
  #mobile-prof {
    margin: 4.4rem 0 0 0;
  }
}

@media only screen and (max-width: 62rem) {
    #main-sect{
      margin-top: 0 !important;
    }
}
